* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@mixin transition-ease {
	transition: all ease-in-out 0.15s;
}

@mixin media-md {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin active-input-gradient {
	background-color: linear(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}
